
@{
}
@model UsersTask4.ViewModels.RegisterViewModel
<h2>Register User</h2>
<form method="post" asp-controller="Home" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" type="email" required/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" required/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" type="password" required/>
        <span asp-validation-for="Password"></span>
    </div>
    
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" type="password" required/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    

    <div>
        <text> </text>
        <input type="submit" value="Register"/>
    </div>
</form>